body {
    background-image: var(--background-gradient-light);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all .7s;
}

.navbar {
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top:0;
}

input[type=checkbox] {
    position: absolute;
    left: -9999px;

}

.left-nav {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 9;
    top: 0%;
    left: -150%;
    transition: all .7s;
    backdrop-filter: blur(10px);
    justify-content: center;
    flex-direction: column;
    /* border:4px solid black; */
}
.right-nav,
.open_sidebar_label {
    z-index: 10;
    background-color: white;
    height: 4rem;
    width: 4rem;
    border-radius: 1rem;
    display: block;
    margin: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid black;
}
.bar-top,.bar-bottom,.bar-mid{
    background-color: var(--type-bg-color-1);
    width: 2.5rem;
    height: 0.7rem;
    border-radius: 1rem;
    transition: all .3s;
    border: 0.2rem solid black;
}
#open_sidebar:checked~.open_sidebar_label>.bar-mid{
    display: none;
    transition:all .7s;
}
#open_sidebar:checked~.open_sidebar_label>.bar-top{ 
    transform: rotatez(45deg);
    transition:all .5s;
}
#open_sidebar:checked~.open_sidebar_label>.bar-bottom{
    margin-top: -1rem;
    transform: rotatez(-45deg);
    transition:all .5s;
}
#open_sidebar:checked~.left-nav {
    left: 0;
    transition: all .7s;
}

.right-nav {
    margin: 20px 20px 0px 0px;

}
img[alt^=logo] {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: .2rem solid;
    color: black;
    background-color: white;
}
.profile-name{
    text-align: center;
    font-size: 2rem;
}
.profile-occu{
    background-image: linear-gradient(to left,var(--type-bg-color-1),#1bff00);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 1.3rem;
}
.left-nav-li-a{
    display: block;
    padding: 6px 100px;
    text-align: center;
    border: .2rem solid black;
    margin-top: 5px;
    border-radius: 20px;
    color: black;
    background-color: var(--type-bg-color-1);
}
.left-nav-li-a:hover{
    color: white;
    background-color: var(--type-bg-color-2);
    transition: all .8s;
}
.left-nav-top{
    flex-direction: column;
}
.left-nav-mid{
    margin-top: 10px;
}
.display-load{
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}
.display-name{
    font-size: 4rem;
}
.display-title{
    font-size: 2rem;
}
.social-tray{
    justify-content: center;
}
.fa-brands{
    font-size: 1.5rem;
    color: black;
    transition: all .3s;
}
.social-1{
    padding: 0.4rem;
    background: white;
    border-radius: 3rem;
    margin: 0px 0.3rem;
    border: 0.2rem solid black;
}
.social-1:hover>.fa-facebook{
    color: blue;
    transition:all .3s;
}
.social-1:hover>.fa-instagram{
    color: var(--type-bg-color-2);
    transition:all .3s;
}
.social-1:hover>.fa-github{
    color: black;
    transition:all .3s;
}
.social-1:hover>.fa-youtube{
    color: red;
    transition:all .3s;
}
.more {
    margin: 18px;
    padding: 10px 45px;
    background-color: var(--type-bg-color-1);
    border: .2rem solid black;
    border-radius: 50px;
    color: black;
    transition: all .8s;
}
.more:hover {
    padding:10px 75px;
    background-color: var(--type-bg-color-2);
    transition: all .8s;
    color:wheat;
}

.about,.about-content{
    flex-direction: column;
}
.abt,.contact-title,.project-title{
    text-align: center;
    font-size: 3.4rem;
    
}
.abt-name{
    font-size: 2.8rem;
    margin-top: 4rem;
    text-align: center;
}
.abt-info{
    text-align: center;
    margin: 0px 20px;
    font-size: 1.4rem;
}
.experience{
    flex-direction: column;
    margin:0px 2rem;    
}
.my-experience{
    margin-top: 20px;
    justify-content: center;flex-wrap: wrap;
}
.ex-name{
    font-size: 1.4rem;
    justify-content: space-between;
    display: flex;
    margin: 0 1rem;
}
.ex-range{
    margin: 10px 0px;
    height: 1.4rem;
    background-color: white;
    border-radius: 50px;
    border: .2rem solid black;
    position: relative;
    z-index: -1;
    overflow: hidden;
}
.ex-range::after{
    content: '';
    width: 34% ;
    height: 1.2rem;
    background-color: var(--type-bg-color-1);
    border-radius: 50px;
    position: absolute;
    z-index: -1;
}
.range-1::after{
    width: 91%;
}
.range-2::after{
    width: 85%;
}
.range-3::after{
    width: 65%  
    ;
}
.right-nav-inside{
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: var(--type-color-dark);
    border: 0.2rem solid black;
    border-radius: 1rem;
}
.project-title{
    margin: 4rem;
}
.project-section{
    margin-bottom: 8rem;
}
.main-section{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 20px;
}
.main-section-projects {
    height: 14rem;
    width: 14rem;
    background-image: url(27277.jpg);
    border-radius: 2rem;
    border: 0.2rem solid rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
}
.copyright{
    text-align: center;
    font-size: 1.3rem;
    background: black;
    padding: 0.2rem;
}