body {
    background-image: var(--background-gradient-light);
/*     background-image: url("project-back.webp"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local;
    transition: all .7s;
    overflow: hidden;
    width:100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 23px;
    background-color: #fc00ff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(45, 83, 229);
}
/* page loader program start */
.loader {
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 30;
    background:black;
    backdrop-filter: blur(60px);
    transition: all 1s linear;
}

.loader-inside {
    height: 100px;
    width: 100px;
    position: relative;
    animation: animate-inside 2s linear infinite;
}

.loader-box {
    background-color: var(--type-bg-color-1);
    height: 30px;
    width: 30px;
    border-radius: 2rem;
    position: absolute;

}

.box1 {
    top: 0;
    left: 0;
    animation: animate-box-1 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.box2 {
    top: 0;
    right: 0;
    animation: animate-box-2 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.box3 {
    bottom: 0;
    right: 0;
    animation: animate-box-3 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.box4 {
    bottom: 0;
    left: 0;
    animation: animate-box-4 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@keyframes animate-inside {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes animate-box-1 {
    0% {
        top: 0px;
        left: 0px;
    }

    50% {
        top: 35px;
        left: 35px;
        height: 15px;
        width: 15px;
    }

    100% {
        top: 0px;
        left: 0px;
    }
}

@keyframes animate-box-2 {
    0% {
        top: 0px;
        right: 0px;
    }

    50% {
        top: 35px;
        right: 35px;
        height: 15px;
        width: 15px;
    }

    100% {
        top: 0px;
        right: 0px;
    }
}

@keyframes animate-box-3 {
    0% {
        bottom: 0px;
        right: 0px;
    }

    50% {
        bottom: 35px;
        right: 35px;
        height: 15px;
        width: 15px;
    }

    100% {
        bottom: 0px;
        right: 0px;
    }
}

@keyframes animate-box-4 {
    0% {
        bottom: 0px;
        left: 0px;
    }

    50% {
        bottom: 35px;
        left: 35px;
        height: 15px;
        width: 15px;
    }

    100% {
        bottom: 0px;
        left: 0px;
    }
}

/* loader program ended */
.navbar {
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem;
    z-index: 10;
}

input[type=checkbox] {
    position: absolute;
    left: -9999px;

}

.left-nav {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 9;
    top: 0%;
    left: -150%;
    transition: all .7s;
    backdrop-filter: blur(10px);
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-theme);
}

.right-nav,
.open_sidebar_label {
    z-index: 10;
    background-color: var(--light-dark-mode);
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    display: block;
    /* margin: 0px 0px 0px 20px; */
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    border:.2rem solid var(--type-color-dark)
    /* box-shadow: var(--box-shadow-1); */
}

.bar-top,
.bar-bottom,
.bar-mid {
    background-color: var(--type-color-dark-span);
    width: 2.5rem;
    height: 0.7rem;
    border-radius: 1rem;
    transition: all .3s;
    border: 0.2rem solid black;
}

#open_sidebar:checked~.open_sidebar_label>.bar-mid {
    display: none;
    transition: all .7s;
}

#open_sidebar:checked~.open_sidebar_label>.bar-top {
    transform: rotatez(45deg);
    transition: all .5s;
}

#open_sidebar:checked~.open_sidebar_label>.bar-bottom {
    margin-top: -1rem;
    transform: rotatez(-45deg);
    transition: all .5s;
}

#open_sidebar:checked~.left-nav {
    left: 0;
    transition: all .7s;
}

/* .right-nav {
    /* margin:0px 20px 0px 0px; 

} */

img[alt^=logo] {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: .2rem solid;
    color: black;
    background-color: white;
}

.profile-name {
    text-align: center;
    font-size: 2rem;
    color: var(--type-color-dark);
}

.profile-occu {
    background-image: linear-gradient(to left, #e8069a, #f00);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 1.3rem;
}

.left-nav-li-a {
    display: block;
    padding: 6px 100px;
    text-align: center;
    border: .2rem solid black;
    margin-top: 5px;
    border-radius: 20px;
    color: black;
    background-color: var(--type-bg-color-1);
}

.left-nav-li-a:hover {
    color: white;
    background-color: var(--type-bg-color-2);
    transition: all .8s;
}

.left-nav-top {
    flex-direction: column;
}

.left-nav-mid {
    margin-top: 10px;
}

.right-nav-inside {
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: var(--type-color-dark-span);
    color: var(--light-dark-mode);
    border-radius: 2rem;
    font-size: 2rem;
    /* transition: all .5s linear; */
}

/* main {
    margin-top: 80px;
} */

.display-load {
    flex-direction: column;
    justify-content: center;
    width: 75%;
    background-color: var(--background-theme);
    /* padding: 4rem; */
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    /* background-color: var(--background-theme); */
    padding: 2rem;
    /* backdrop-filter: blur(10px); */
    /* border-radius: 2rem; */
    height: 60vh;
}

.display-name {
    font-size: 4rem;
    font-family: 'Honk', system-ui;
}

.display-title {
    font-size: 2rem;
    font-family: 'Black Ops One', system-ui;
}

.social-tray {
    justify-content: center;
}

.fa-brands {
    font-size: 1.5rem;
    color: black;
    transition: all .3s;
}

.social-1 {
    background: white;
    border-radius: 50px;
    margin: 0px 0.3rem;
    height: 2.5rem;
    width: 2.5rem;
    justify-content: center;
    box-shadow: var(--box-shadow-1);
}

.social-1:hover>.fa-facebook {
    color: blue;
    transition: all .3s;
}

.social-1:hover>.fa-instagram {
    color: var(--type-bg-color-2);
    transition: all .3s;
}

.social-1:hover>.fa-github {
    color: black;
    transition: all .3s;
}

.social-1:hover>.fa-youtube {
    color: red;
    transition: all .3s;
}

.more {
    margin: 18px;
    padding: 10px 45px;
    background-color: var(--type-bg-color-1);
    border: .2rem solid black;
    border-radius: 50px;
    color: black;
    transition: all .8s;
}

.more:hover {
    padding: 10px 75px;
    background-color: var(--type-bg-color-2);
    transition: all .8s;
    color: wheat;
}


.about-content {
    flex-direction: column;
    display: flex;
    align-items: baseline;
    background: var(--background-theme);
    padding: 60px 5px;
    width: 95%;
    border-radius: 0 1rem 1rem 0;
    backdrop-filter: blur(10px);
}

.abt,
.contact-title,
.project-title {
    text-align: center;
    font-size: 3.4rem;

}

.abt-name {
    font-size: 2.8rem;
    width: 90%;
}

.abt-info {
    text-align: initial;
    margin: 0px 20px;
    font-size: 1.4rem;
}

.span,
.span-heading {
    color: var(--type-color-dark-span);
    text-shadow: .1rem .1rem .1rem black;
}

.experience {
    flex-direction: column;
    margin: 0px 2rem;
    width: 100%;
}

.my-experience {
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    background: var(--background-theme);
    margin-left: 5%;
    padding: 2rem;
    backdrop-filter: blur(10px);
    border-radius: 1rem 0 0 1rem;
}

.ex-name {
    font-size: 1.4rem;
    justify-content: space-between;
    display: flex;
    margin: 0 1rem;
}

.ex-range {
    margin: 10px 0px;
    height: 1.4rem;
    background-color: white;
    border-radius: 50px;
    position: relative;
    z-index: -1;
    box-shadow: 0px 0px 5px 3px black;
}

.ex-range::after {
    content: '';
  width: 34%;
  height: 1rem;
  background-color: var(--type-bg-color-2);
  border-radius: 50px;
  position: absolute;
  z-index: -1;
  inset: .2rem;
}

.range-1::after {
    width: 91%;
    background-color: rgb(229, 83, 45);
}

.range-2::after {
    width: 85%;
    background-color: rgb(45, 83, 229);
}

.range-3::after {
    width: 65%;
    background-color: rgb(219, 187, 52);
}

.range-4::after {
    width: 89%;
    background-color: #d5d5d5;
}

.project-title {
    margin: 4rem 0rem;
    position: relative;
    justify-content: center;
    width: 100%;
}

.small-circle {
    height: 2rem;
    width: 2rem;
    background: var(--type-color-dark-span);
    border-radius: 2rem;
    z-index: 2;
    border: 0.2rem solid var(--type-color-dark);
}

.span-heading {
    background: var(--type-color-dark-span-reverse);
    padding: 1rem;
    border-radius: 3rem;
    z-index: 2;
    border: 0.2rem solid var(--type-color-dark);
    font-size: 2rem;
    font-family: 'Russo One', sans-serif;
}

.project-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: var(--type-color-dark);
    left: 0;
    top: calc(50% - 0.1rem);
    z-index: 1;
}

.project-section {
    margin-bottom: 8rem;

}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px ,1fr));
    gap: 10px;
    justify-content: center;
    overflow-x: auto;
/*     background: var(--background-theme);
    backdrop-filter: blur(10px); */
    width: 98%;
    margin: 1%;
    padding: 30px 15px;
    border-radius: 2rem;
}

.project-box {
    background-color: var(--background-theme);
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    backdrop-filter: blur(60px);
    overflow: hidden;
}

.project-img {
    height: 20rem;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: 4px solid var(--light-dark-mode);
}

.project-text {
        width: 100%;
    background: var(--light-dark-mode);
    border-radius: 10px;
    padding: 10px;
}
.project-link{
    display: block;
    text-align: center;
    font-size: 25px;
    background: var(--type-color-dark-span);
    height: 5rem;
    border-radius: 5px;
    color: var(--light-dark-mode);
    line-height: 5rem;
}
.project-link:hover{
    background-color: rebeccapurple;
}
.copyright {
    text-align: center;
    font-size: 1.3rem;
    background: var(--light-dark-mode);
    padding: 0.2rem;
}
