@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Honk&family=Russo+One&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    color: var(--text-color);
    transition: all .5s linear;
    font-family: 'Comic Neue', cursive; 
    user-select: none;

    
/* font-family: 'Honk', system-ui; */
font-family: 'Ubuntu', sans-serif;

}
.darkmode{
    --background-gradient-light:linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    --type-bg-color-1:#1cc3e2;
    --type-bg-color-2:#FC00FF;
    --type-color-dark:black;
    --type-color-dark-span:#1cc3e2;
    --type-color-dark-span-reverse:#FC00FF;
    --light-dark-mode:white;
    --background-theme:#ffffff5e;
    --text-color : black;
    --text-shadow-1 : .1rem .1rem .1rem white;
    
}
:root{
    --background-gradient-light:linear-gradient(90deg, #037d80 0%, #640066 100%);
    --type-color-dark:rgb(255, 255, 255);
    --type-color-dark-span:#FC00FF;
    --type-color-dark-span-reverse:#1cc3e2;
    --light-dark-mode:black;
    --background-theme:#00000069;
    --text-color:white;
    --text-shadow-1 : .1rem .1rem .1rem black;
    --box-shadow-1:.1rem .1rem .1rem .1rem black , inset .1rem .1rem .1rem .1rem #9d9d9d;
    --type-bg-color-1:#1cc3e2;
    --type-bg-color-2:#FC00FF;
}
.display-name,.display-title{
    text-align: center;
    margin: 0.2rem 1rem;
    text-shadow: var(--text-shadow-1);
}
.abt,.abt-info,.abt-name{
    text-shadow: var(--text-shadow-1);
}


.navbar,.project-box,.left-nav,.social-1,.left-nav-top,.display-load,#HOME,.my-experience,.social-tray,.loader,.project-title{
    display: flex;
    align-items: center;
}
#HOME{
    justify-content: center;
    min-height: 100vh;
    padding-top: 60px;
    background-image: url(project-back.webp);
    background-attachment:local;
    background-size:cover;
    border-bottom: 3px solid black;
    width:100%;
}
a,p{
    display: block;
}
