
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    color: white;
    /* font-family: 'Pixelify Sans', cursive; */
    font-family: 'Comic Neue', cursive; 
}
:root{
    --background-gradient-light:linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    --type-bg-color-1:#1cc3e2;
    --type-bg-color-2:#FC00FF;
    --type-color-dark:black;
    --type-color-dark-span:black;
    
}
.display-name,.display-title{
    text-align: center;
    margin: 0.2rem 1rem;
}
.darkmode{
    --background-gradient-light:linear-gradient(90deg, #037d80 0%, #640066 100%);
    --type-color-dark:rgb(255, 255, 255);
    --type-color-dark-span:#00DBDE;
}
.navbar,.left-nav,.left-nav-top,.display-load,.about,.about-content,.my-experience,.right-nav-inside
,.main-section,.social-tray{
    display: flex;
    align-items: center;
}
.my-experience,.experience{
    width: 100%;
}
a,p{
    display: block;
}
.span{
    background-color: var(--type-color-dark-span);
    -webkit-background-clip: text;
    color:transparent;
}